section.about-us-callback
	div.container
		h2.about-us-callback__header Обратная связь
		p.about-us-callback__comment Есть вопросы - задайте менеджеру
		form.callback-form
			input(type='text', name='phone', placeholder='Телефон', required)
			input(type='text', name='name', placeholder='ФИО', required)
			textarea(placeholder='Текст письма', rows="10", required)
			input(type='submit', value='Отрпавить')