div.add-info-decor-wrapper
    div.add-info
        div.add-info-schema
        div.add-info-descr
            h4.add-info-descr__header Дополнительная информация для бронирования
            ul.add-info-list
                li.add-info-list__item После 22.00 тариф увеличивается на 500 р. за каждый час.
                li.add-info-list__item Швартовка для посадки и высадки пассажиров к причалам других судоходных компаний оплачивается дополнительно. Стоянка теплохода в таких случаях составляет не больше 15 минут.
                li.add-info-list__item При заключении договора предоплата составляет 50%, оставшаяся часть оплачивается не позднее 10 дней до начала рейса.
                li.add-info-list__item Уборка после проведения банкета или фуршета  2000 р. (при условии, что банкет или фуршет организовывался силами заказчика)