section.schedule.schedule--sl.event-reserve
    div.container#schedule
        h2.schedule__header Забронировать теплоход #[br] на мероприятие
        p.schedule__comment  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus similique eum tenetur, molestiae eveniet libero numquam consectetur? Minus ratione dicta reiciendis, quia adipisci aspernatur temporibus obcaecati natus, at eos quis.
        div.schedule-panel
            div.schedule-panel-date
                div.schedule-panel-date__btn.schedule-panel-date__btn--left
                    i.fas.fa-chevron-left
                div.schedule-panel-date__info Май #[span.monday] - #[span.sunday]
                div.schedule-panel-date__btn.schedule-panel-date__btn--right
                    i.fas.fa-chevron-right
            div.schedule-panel-choice
                span.schedule-panel-choice__text Экскурсионный теплоход:
                label.choice-btn
                    input(type='radio', name='ship', data-price="7000").ship-choice-input
                    span Де Марко
                label.choice-btn
                    input(type='radio', name='ship', data-price="12000", checked).ship-choice-input
                    span Марго
                label.choice-btn
                    input(type='radio', name='ship', data-price="7000").ship-choice-input
                    span Пиета
                label.choice-btn
                    input(type='radio', name='ship', data-price="7000").ship-choice-input
                    span Фаворит

        div.schedule-table-grid-container
            table.schedule-table.schedule-table--ss.schedule-table--sl
                tr
                    th
                    th Понедельник #[br]
                        span.order-date 21.05
                    th Вторник #[br]
                        span.order-date 22.05
                    th Среда #[br]
                        span.order-date 23.05
                    th Четверг #[br]
                        span.order-date 24.05
                    th Пятница #[br]
                        span.order-date 25.05
                    th Суббота #[br]
                        span.order-date 26.05
                    th Воскресенье #[br]
                        span.order-date 27.05
                tr
                    td(data-time='00:00') 00:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='01:00') 01:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='02:00') 02:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='03:00') 03:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='04:00') 04:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='05:00') 05:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='06:00') 06:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='07:00') 07:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='08:00') 08:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='09:00') 09:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='10:00') 10:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='11:00') 11:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='12:00') 12:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='13:00') 13:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='14:00') 14:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='15:00') 15:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='16:00') 16:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='17:00') 17:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='18:00') 18:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='19:00') 19:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='20:00') 20:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='21:00') 21:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='22:00') 22:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td
                tr
                    td(data-time='23:00') 23:00
                    td
                    td
                    td
                    td
                    td
                    td
                    td