section.for
    div.container
        h3.for__header Для чего подойдут наши теплоходы
        div.for-decor-wrapper
            img(src='./img/icons/decor.png').for-decor__img
        ul.for-list
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon1.svg', alt='event-icon')
                div.for-list-item-text Вечеринки
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon2.svg', alt='event-icon')
                div.for-list-item-text Фуршеты
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon3.svg', alt='event-icon')
                div.for-list-item-text Банкеты
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon4.svg', alt='event-icon')
                div.for-list-item-text Выпускные
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon5.svg', alt='event-icon')
                div.for-list-item-text Свадьбы
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon6.svg', alt='event-icon')
                div.for-list-item-text Корпоративы
            li.for-list-item
                div.for-list-item-img-wrapper
                    img(src='./img/icons/for-icon7.svg', alt='event-icon')
                div.for-list-item-text Дни рождения
