div.container.container--header
    div.page-header-top-wrapper
        div.page-header-logo-wrapper
            a(href='index.html')
                img(src='img/icons/logo-w.svg', alt='logo-img')
        div.page-header-nav-wrapper
            div.page-header__phone
                a(href="").phone-link +7 (812) 629-13-80
            nav.page-header-nav
                ul.page-header-nav-list
                    li.header-nav-list-item 
                        a(href='#ships') Главная
                    li.header-nav-list-item
                        a(href='#ships') Теплоходы
                    li.header-nav-list-item
                        a(href='#schedule') Расписание
                    li.header-nav-list-item
                        a(href='#price') Цены
                    li.header-nav-list-item
                        a(href='#conditions') Условия
                    li.header-nav-list-item
                        a(href='#menu') Виды мероприятий
                    li.header-nav-list-item
                        a(href='#menu') Меню
                    li.header-nav-list-item
                        a(href='#about') О компании
                    li.header-nav-list-item
                        a(href='#contacts') Контакты

        div.nav-toggle-btn
            span
            span
            span
        