header.page-header.page-header--ls.page-header--fl
    div.container.container--header
        div.fixed-header-wrapper
            div.page-header-top-wrapper
                div.page-header-logo-wrapper
                    a(href='index.html')
                        img(src='img/icons/logo-w.svg', alt='logo-img')
                div.page-header-nav-wrapper                    
                    nav.page-header-nav
                        ul.page-header-nav-list
                            li.header-nav-list-item.header-nav-list-item--phone
                                a(href='./ship-list.html') +7 (812) 629-13-80                      
                            li.header-nav-list-item
                                a(href='./ship-list.html') Теплоходы
                            li.header-nav-list-item
                                a(href='#schedule') Расписание
                            li.header-nav-list-item
                                a(href='./price.html') Цены
                            li.header-nav-list-item
                                a(href='#conditions') Информация
                            li.header-nav-list-item
                                a(href='#conditions') Назначение
                            li.header-nav-list-item
                                a(href='#menu') Меню
                            li.header-nav-list-item
                                a(href='./about.html') О компании                        
                            li.header-nav-list-item
                                a(href='#contacts') Контакты

            div.nav-toggle-btn
                span
                span
                span
        h1.page-header__header Экскурсии и мероприятия на комфортабельных речных теплоходах River Line
        p.page-header__text Приятный интерьер, бар и ресторанная еда Sadko
        div.page-header-callback-controls
            div.callback-btn-wrapper
                button.page-header__callback Забронируйте по телфону
            div.callback-btn-wrapper
                button.page-header__callback.page-header__callback--sc Выберите дату из расписания