section.news
	div.container
		h2.news__header Новости
		div.news-wrapper
			div.news-item
				div.news-item-img-wrapper
					img(src="http://via.placeholder.com/350x150", alt="news-img")
				h3.news-item__header Новые экскурсии
				p.news-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatem. Alias consequatur aliquid, omnis voluptatibus! Nostrum iusto dignissimos aut a ut debitis nam quod, voluptatum maiores hic quibusdam aperiam rerum!
				a(href="").news-item__more Подробнее
			div.news-item
				div.news-item-img-wrapper
					img(src="http://via.placeholder.com/350x150", alt="news-img")
				h3.news-item__header Новые экскурсии
				p.news-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatem. Alias consequatur aliquid, omnis voluptatibus! Nostrum iusto dignissimos aut a ut debitis nam quod, voluptatum maiores hic quibusdam aperiam rerum!
				a(href="").news-item__more Подробнее
			div.news-item
				div.news-item-img-wrapper
					img(src="http://via.placeholder.com/350x150", alt="news-img")
				h3.news-item__header Новые экскурсии
				p.news-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatem. Alias consequatur aliquid, omnis voluptatibus! Nostrum iusto dignissimos aut a ut debitis nam quod, voluptatum maiores hic quibusdam aperiam rerum!
				a(href="").news-item__more Подробнее
			div.news-item
				div.news-item-img-wrapper
					img(src="http://via.placeholder.com/350x150", alt="news-img")
				h3.news-item__header Новые экскурсии
				p.news-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, voluptatem. Alias consequatur aliquid, omnis voluptatibus! Nostrum iusto dignissimos aut a ut debitis nam quod, voluptatum maiores hic quibusdam aperiam rerum!
				a(href="").news-item__more Подробнее
