section.about-us
	h1.about-us__header Новость
	p.about-us__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis minima alias quos nam sapiente at labore consectetur ex repellendus odit explicabo quaerat, aliquid, nulla nesciunt ipsam tempore ad! Laboriosam, quasi.
	div.about-us-img-wrapper
		img.about-us__img(src="./img/content/about-page-img.jpg", alt="about-us-img")
	p.about-us__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis minima alias quos nam sapiente at labore consectetur ex repellendus odit explicabo quaerat, aliquid, nulla nesciunt ipsam tempore ad! Laboriosam, quasi.
	p.about-us__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis minima alias quos nam sapiente at labore consectetur ex repellendus odit explicabo quaerat, aliquid, nulla nesciunt ipsam tempore ad! Laboriosam, quasi.
