section.news-list
	div.container
		h1.news-list__header Новости и статьи
		div.news-list-switch-wrapper
			label.news-type-choice
				input(type='radio', name='ship', checked).news-type-radio
				span Новости
			label.news-type-choice
				input(type='radio', name='ship').news-type-radio
				span Статьи
		div.news-grid
			div.news-grid-row
				div.news-grid-wrapper.news-grid-wrapper--single
					article.news-item.news-item--single(style="background-image: url(./img/content/news-list-img.jpg)")
						div.news-item-info
							a(href="#").news-item-info__header Новости
							a(href="#").news-item-info__date 01.05.2018
						h2.news-item__header 
							a(href="#") Теплоход «Пиета» теперь будет ходить по новому обзорному маршруту Санкт-Петербурга
				div.news-grid-wrapper
					article.news-item.news-item--horizontal
						div.news-item-img-wrapper
							img(src="./img/content/news-list-img.jpg")
						div.news-item-info-wrapper
							h2.news-item__header  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							div.news-item-info
								a(href="#") 01.05.2018
								span /
								a(href="#") новости
							p.news-info-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero a atque! Commodi nulla repudiandae, expedita nostrum deserunt, molestiae adipisci laborum earum et! Voluptatum neque libero, consectetur illum pariatur!
					article.news-item.news-item--horizontal
						div.news-item-img-wrapper
							img(src="./img/content/news-list-img.jpg")
						div.news-item-info-wrapper
							h2.news-item__header  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							div.news-item-info
								a(href="#") 01.05.2018
								span /
								a(href="#") новости
							p.news-info-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero a atque! Commodi nulla repudiandae, expedita nostrum deserunt, molestiae adipisci laborum earum et! Voluptatum neque libero, consectetur illum pariatur!
			div.news-grid-row
				div.news-grid-wrapper.news-grid-wrapper--horizontal
					article.news-item.news-item--vertical
							div.news-item-img-wrapper
								img(src="./img/content/news-list-img.jpg")
							div.news-item-info-wrapper
								h2.news-item__header  
									a(href="./news-item.html") Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
								div.news-item-info
									a(href="#") 01.05.2018
									span /
									a(href="#") новости
								p.news-info-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero a atque! Commodi nulla repudiandae, expedita nostrum deserunt, molestiae adipisci laborum earum et! Voluptatum neque libero, consectetur illum pariatur!
					article.news-item.news-item--vertical
						div.news-item-img-wrapper
							img(src="./img/content/news-list-img.jpg")
						div.news-item-info-wrapper
							h2.news-item__header  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
							div.news-item-info
								a(href="#") 01.05.2018
								span /
								a(href="#") новости
							p.news-info-item__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum minus libero a atque! Commodi nulla repudiandae, expedita nostrum deserunt, molestiae adipisci laborum earum et! Voluptatum neque libero, consectetur illum pariatur!
				div.news-grid-wrapper.news-grid-wrapper--single
					article.news-item.news-item--single(style="background-image: url(./img/content/news-list-img.jpg)")
						div.news-item-info
							a(href="#").news-item-info__header Новости
							a(href="#").news-item-info__date 01.05.2018
						h2.news-item__header
							a(href="#") Теплоход «Пиета» теперь будет ходить по новому обзорному маршруту Санкт-Петербурга
			a(href="#").news-list__link Еще