section.reserve
	div.container
		h1.reserve__header Забронировать теплоход
		p.reserve__comment  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam et voluptatibus expedita, consequuntur aut cumque, officia eveniet voluptatum, earum ullam, veniam temporibus laborum excepturi possimus ea molestias nemo soluta sit!
		div.reserve-link-container
			a(href="./reserve-index.html").reserve-link.reserve-link--active
				img(src="./img/icons/event-link-icon.png", width="81", alt="link-img").reserve-link__img
				span.reserve-link__text Мероприятия
			a(href="./reserve-tours.html").reserve-link
				img(src="./img/icons/tours-link-icon.png", width="85", alt="link-img").reserve-link__img
				span.reserve-link__text Экскурсии
			a(href="#").reserve-link
				img(src="./img/icons/night-link-icon.png", width="94", alt="link-img").reserve-link__img
				span.reserve-link__text Ночные мосты
