section.ship-page-slider
	div.swiper-container.swiper-container--ship
		div.swiper-wrapper
			div(style="background: url(./img/slides/m-slide1.jpg);").swiper-slide
			div(style="background: url(./img/slides/m-slide2.jpg);").swiper-slide
			div(style="background: url(./img/slides/m-slide3.jpg);").swiper-slide
			div(style="background: url(./img/slides/m-slide2.jpg);").swiper-slide
			div(style="background: url(./img/slides/m-slide3.jpg);").swiper-slide
		div.swiper-button-prev
			i.fas.fa-chevron-left
		div.swiper-button-next
			i.fas.fa-chevron-right