section.ship-list-block
	div.container
		h1.ship-list__header Наши теплоходы
		div.ship-list-wrapper
			a(href="./ship.html").ship-item.ship-item--pbg
				div.ship-item__category Теплоход
				h2.ship-item__name Пиета
				div.ship-info-wrapper
					div.ship-info-block
						div.ship-info__prop Класс теплохода:
						shiv.ship-info__value P 1.2
					div.ship-info-block
						div.ship-info__prop Количество мест:
						shiv.ship-info__value 35
			a(href="./ship.html").ship-item.ship-item--fbg
				div.ship-item__category Теплоход
				h2.ship-item__name Фаворит
				div.ship-info-wrapper
					div.ship-info-block
						div.ship-info__prop Класс теплохода:
						shiv.ship-info__value P 1.2
					div.ship-info-block
						div.ship-info__prop Количество мест:
						shiv.ship-info__value 35
			a(href="./ship.html").ship-item.ship-item--mbg
				div.ship-item__category Теплоход
				h2.ship-item__name Марго
				div.ship-info-wrapper
					div.ship-info-block
						div.ship-info__prop Класс теплохода:
						shiv.ship-info__value P 1.2
					div.ship-info-block
						div.ship-info__prop Количество мест:
						shiv.ship-info__value 35
			a(href="./ship.html").ship-item.ship-item--dbg
				div.ship-item__category Теплоход
				h2.ship-item__name Де Марко
				div.ship-info-wrapper
					div.ship-info-block
						div.ship-info__prop Класс теплохода:
						shiv.ship-info__value P 1.2
					div.ship-info-block
						div.ship-info__prop Количество мест:
						shiv.ship-info__value 35
					