section.ship-descr
	div.left-wrapper
		h1.ship-descr__header Теплоход Пиета
		p.ship-descr__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolorum mollitia minus quia sequi pariatur maiores magnam quam aliquid, molestiae animi debitis qui cumque dolores repellat laudantium ex impedit. Vel.
	div.right-wrapper
		button.order-btn Забронировать мероприятие
		div.ship-descr-info
			h4.ship-descr-info__header Класс теплохода:
			div.ship-descr-info__value P 1.2
		div.ship-descr-info
			h4.ship-descr-info__header Количество мест:
			div.ship-descr-info__value 35
