section.suggest-block
	div.container
		h2.suggest-block__header Наши предложения
		div.suggest-decor-img-wrapper
			img(src='./img/icons/decor.png', alt='decor-img')
		div.suggest-menu
			div.suggest-menu-item
				div.menu-item-img-wrapper
					img(src='./img/content/suggest-menu-img1.jpg', alt='decor-img').menu-item__img
				h3.menu-item__header Мероприятия
				p.menu-item__price от 6000 руб.
				a(href="./events.html").menu-item__link Узнать больше
			div.suggest-menu-item
				div.menu-item-img-wrapper
					img(src='./img/content/suggest-menu-img2.jpg', alt='decor-img').menu-item__img
				h3.menu-item__header Экскурсии
				p.menu-item__price от 700 руб.
				a(href="./tours.html").menu-item__link Узнать больше