doctype html
html
    include templates/head
    body.page.page-loading
        include templates/header
        include templates/suggest-block
        include templates/company-info
        include templates/contacts
        include templates/footer-block               
        include templates/site-preloader-block
        include templates/slider-popup        
        script(src='js/vendor/jquery-3.2.1.min.js')
        script(src='js/vendor/swiper/js/swiper.min.js')
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
        script(src="js/yandex-map-config.js")        
        script(src='js/adaptiveMenu.js')        
        script(src='js/scroll-into-view.js')        
        script(src='js/about-company-popup.js')
        script(src='js/scroll-nav.js')
        script(src='js/site-preloader.js')