doctype html
html
    include templates/head
    body.payment-page
        header.page-header
            include templates/header-nav
        include templates/payment-form-block
        include templates/footer-block
        include templates/order-popup-block
        script(src='js/vendor/jquery-3.2.1.min.js')
        script(src='js/vendor/swiper/js/swiper.min.js')
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")        
        script(src='js/sliderConfig.js')
        script(src='js/adaptiveMenu.js')
        script(src='js/scroll-nav.js')
        