.about-us {
	max-width: 800px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 140px;
}
.about-us__header {
	margin-top: 0;
	margin-bottom: 50px;
	padding-left: 55px;
	padding-right: 55px;
}
.about-us-img-wrapper {
	width: 100%;
	margin-top: 65px;
	margin-bottom: 75px; 

	& img {
		width: 100%;
	}
}

.about-us__text {
	padding-left: 55px;
	padding-right: 55px;
	margin-bottom: 40px;
}