.menu {
  padding-top: 380px;
  padding-bottom: 115px;
  background-color: $light-blue;

  &--sl {
    padding-top: 110px;
    background-image: url(../img/bg/menu-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (max-width: 1180px) {
    padding-top: 45px;
  }

  @media (max-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.menu-intro-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
    background-image: url(../img/bg/mobile-menu-header-bg.jpg);
    background-size: cover;
    background-position: 100% 0%;
    background-repeat: no-repeat;
  }
}
.menu__header {
  @include anaphora;
  margin-top: 0;
  font-size: 48px;
  color: $dark-blue;
  margin-bottom: 25px;

  @media (max-width: 768px) {
    color: $basic-white;
  }

  @media (max-width: 580px) {
    font-size: 38px;
  }
}
.menu__comment {
  @include gotham-reg;
  font-size: 16px;
  color: $font-light-blue;
}
.menu-example {
  background-color: $basic-white;
  padding-left: 75px;
  padding-right: 100px;
  padding-top: 70px;
  margin-top: 55px;

  @media (max-width: 1175px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 580px) {
    margin-top: 0;
    padding-top: 45px;
  }
}
.menu-example__header {
  @include gotham-bold;
  font-size: 16px;
  text-transform: uppercase;
  color: $menu-azure;

  @media (max-width: 760px) {
    text-align: center;
  }
}
.menu-example-list {
  @include list-reset;
  display: flex;
  justify-content: space-between;

  @media (max-width: 1020px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 760px) {
    height: inherit;
    align-items: center;
    padding-bottom: 60px;
  }

  @media (max-width: 580px) {
    align-items: stretch;
  }
}
.menu-example-block {
  flex: 1 1 48%;

  &:nth-of-type(2) {
    margin-right: 0;
  }

  @media (max-width: 1020px) {
    flex: 1 1 auto;
  }
}
.menu-example-list-item {
  display: flex;
  width: 450px;
  justify-content: space-between;
  margin-bottom: 26px;
  margin-right: 15px;

  @media (max-width: 1175px) {

  }

  @media (max-width: 580px) {
    width: 100%;
    margin-right: 15px;
  }
}
.list-item__prop {
  @include gotham-reg;
  font-size: 12px;
  color: #6c97b0;

  @media (max-width: 580px) {
    margin-right: 15px;
    flex: 0 1 53%;
  }
}
.list-item__value {
  @include gotham-bold;
  flex: 0 1 30%;
  text-align: right;
  font-size: 14px;
  color: #145378;
}
.menu-intro-right {
  @media (max-width: 580px) {
    display: none;
  }
}
.menu-download-link {
  display: block;
  position: relative;
  @include gotham-reg;
  font-size: 14px;
  text-decoration: none;
  color: #00bac0;

  &:before {
    position: absolute;
    display: block;
    content: '';
    left: -34px;
    top: 60%;
    transform: translateY(-50%);
    width: 24px;
    height: 30px;
    background-image: url(../img/icons/pdf-icon.png);
    background-repeat: no-repeat;

  }
}
.menu--sl {
  padding-top: 25px;
}
.menu--sl .menu__header {
  margin-top: 0;
  padding-left: 15px;
  padding-right: 15px;
  color: $basic-white;
}
.menu--sl .menu-wrapper {
  margin-top: 75px;
}
.menu--sl .menu__comment {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 52px;
}
.menu--sl .menu-intro-left {
  display: flex;
}
.menu-type-toggle input[type='radio'] {
  display: none;
}
.menu-type-toggle span{
  @include gotham-bold;
  display: block;
  margin-right: 10px;
  padding: 10px 25px;
  border-radius: 50px;
  border: 1px solid $table-border;
  text-transform: uppercase;
  font-size: 12px;
  color: #99cbe5;
  cursor: pointer;
  transition: color .5s, background-color .5s;
}
.menu-type-toggle input[type='radio']:checked ~ span {
  border: 1px solid $basic-white;
  background-color: $basic-white;
  color: $font-dark-blue-label;
}
.menu-wrapper {
  position: relative;
  display: flex;
}
.menu--sl .menu-example {
  display: flex;
  flex: 1 1 auto;
  margin-top: 0;
}
.menu-controls-list {
  @include list-reset;
}
.menu-example-controls {
  display: flex;
}
.menu-controls-list {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 30px;
  flex: 0 0 145px
}

.menu--sl .menu-example__header {
  margin-top: 0;
}
.menu-controls-item {
  padding-right: 34px;
  cursor: pointer;
}
.menu-controls-item span:first-of-type {
  @include gotham-bold;
  font-size: 24px;
  color: #fff;
  opacity: 0.5;
  transition: opacity .4s;
}
.menu-controls-item span:last-of-type {
  @include gotham-reg;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
  transition: opacity .4s;
}
.menu-controls-item--active span:first-of-type,
.menu-controls-item--active span:last-of-type {
  opacity: 1;
}
.menu-controls-active-marker {
  position: absolute;
  right: 5px;
  top: 225px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid $basic-white;
  transition: all .4s;
}
.menu--sl .list-item__prop {
  width: 300px;
}
.menu--sl .menu-example {
  padding: 45px;
  padding-top: 15px;
}
.menu--sl .menu-example__header {
  margin-top: 45px;
  margin-bottom: 45px;
}
.menu--sl .menu-example span {
  @include gotham-reg;
  font-size: 14px;
  text-transform: lowercase;
}
.menu-example-wrapper {
  display: none;
  animation: fadeIn .5s ease-in-out;
  
  &--active {
    display: flex;
  }
}
.menu-example-wrapper .menu-example-block {
  margin-right: 35px;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}
.menu-price-mobile {
  display: none;
}
@media (max-width: 1260px) {
  .menu--sl .menu-wrapper {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
  }
  .menu--sl .menu-example {
    padding-left: 15px;
    padding-right: 15px;
  }
  .menu-controls-list {
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
  }
  .menu--sl .menu-example-wrapper {
    width: 100%;
  }
  .menu-controls-active-marker {
    display: none;
  }
}

@media (max-width: 1076px) {

}
@media (max-width: 1023px) {
  .menu--sl .menu-example-wrapper--active {
    display: block;
  }
  .menu--sl .menu-example-block {
    margin-right: 0;
  }
  .menu--sl .menu-example-wrapper--active .menu-example-list-item {
    margin-left: auto;
    margin-right: auto;
  }
  .menu--sl .menu-example-wrapper--active .menu-example__header {
    text-align: center;
  }
}
@media (max-width: 880px) {

  .menu-price-mobile__current {
    @include list-reset;
    list-style: none;
  }
  .menu-price-mobile {
    display: flex;
    background-color: #edf7ff;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }
  .menu-example-controls {
    display: none;

    &--open {
      display: block;
      background-color: #edf7ff;
      position: absolute;
      top: 95px;
      left: 10px;
      right: 10px;
      animation: fadeIn .3s ease-in-out;

      .menu-controls-list {
        display: block;
        padding-top: 0;
      }
      .menu-controls-item {
        padding-left: 15px;
        transition: background-color .3s;

        &:hover {
          background-color: darken($table-azure, 2);
        }
      }
    }
  }
  .menu-controls-item {
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;

  }
  .menu-controls-item span{
    color: $dark-blue!important;
    opacity: 1!important;
  }
  .menu-controls-item span:first-of-type {
    font-size: 24px;
  }
  .menu-controls-item span:last-of-type {
    font-size: 14px;
  }
}
.menu--sl .menu-intro-wrapper {
  background-image: none;
}