.page-header--fl {
	& .fixed-header-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		background-color: #083351;
		z-index: 100;
	}

	& .page-header-top-wrapper {
		align-items: center;		
		max-width: 1175px;
		margin: auto;
	}

	& .page-header-logo-wrapper {
		flex: 0 0 50px;
		margin-right: 15px;
	}

	& .page-header-nav-wrapper {
		margin-left: auto;
	}

	& .header-nav-list-item--phone {
		@include gotham-bold;
		font-size: 16px;
		cursor: pointer;		

		&:hover:after {
			display: none;
		}
	}
}