.routes {
  padding-top: 100px;

  @media (max-width: 768px) {
    padding-top: 50px;
  }
}
.routes__header {
  @include anaphora;
  text-align: center;
  font-size: 48px;
  color: $dark-blue;

  @media (max-width: 580px) {
    font-size: 24px;
  }
}
.routes-decor-wrapper {
  width: 135px;
  margin: 0 auto;
}
.routes-decor__img {
  max-width: 100%;
  height: auto;
}
.routes-decor-block {
  position: relative;
  height: 300px;
  margin-top: 200px;
  background-image: url(../img/bg/routes-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  @media (max-width: 1190px) {
    height: auto;
    background-image: none;
    margin-top: 50px;
  }
}
.routes-schema-img-wrapper {
  position: absolute;
  left: 50%;
  top: -40%;
  transform: translate(-50%);
  z-index: 50;

  @media (max-width: 1190px) {
    position: static;
    transform: translate(0%);
  }

  @media (max-width: 768px) {
    overflow: scroll;
  }
}
.routes-schema__img {
  @media (max-width: 1191px) {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    width: 768px;
    height: auto;
  }
}
.routes--sl {
  padding-top: 0;

  .routes-decor-block {
    margin-top: 0;
    
    @media (max-width: 1200px) {
      position: static;
      height: auto;
      background: transparent;
    }
  }

  @media (max-width: 1200px) {
    height: auto;
    background-image: none;
  }
}
.routes--sl .order-panel-decor-wrapper {
  @media (max-width: 1200px) {
    position: static;
    transform: translate(0, 0);
    padding: 0;
    width: 100%;
    background-color: #fff;
  }
}
.routes--sl .order-panel {
  @media (max-width: 1024px) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    background-color: #edf7ff;
  }
}
.routes--sl .order-panel-slider--active {
  @media (max-width: 1024px) {
    position: relative;
    width: 100%;
    height: 370px;
    top: 95px;
  }
}
.routes--sl .order-panel-toggle {
  @media (max-width: 1024px) {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    margin-bottom: 0;
    visibility: visible;
  }
}

.routes--sl .order-panel-ship-info--active {
  @media (max-width: 1024px) {
    padding-top: 55px;
  }
}
.routes--sl .order-panel__buy {
  @media (max-width: 740px) {
    width: 100%;
    margin-bottom: 15px;
  }
}
@media (max-width: 560px) {
  .routes--sl .order-panel-ship-info--active {
    padding-top: 75px;
  }
}

@media (max-width: 670px) {
  .routes--sl .current-button-mobile {
    display: block;
    width: 100%;
  }
  .routes--sl .buttons-wrapper-helper {
    display: none;
  }
  .routes--sl .buttons-wrapper-helper--active {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: #edf7ff;
    animation: fadeIn .3s ease-in-out;
  }
  .routes--sl .buttons-wrapper-helper--active .order-toggle-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    transition: background-color .3s;

    &:hover {
      background-color: darken(#edf7ff, 4);
    }
  }
}
@media (max-width: 580px) {
  .routes--sl .buttons-wrapper-helper--active {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    z-index: 100;
    background-color: #edf7ff;
    animation: fadeIn .3s ease-in-out;
    padding-left: 0;
  }
  .routes--sl .order-panel-toggle {
    padding-left: 0;
  }
  .routes--sl .current-button-mobile {
    padding-left: 15px;
  }
}
